<h1>Lista de productos</h1>
{{#each products}}
<div class="product">
    <h3>{{this.title}}</h3>
    <p>{{this.description}}</p>
    <strong>${{this.price}}</strong>
</div>
{{else}}
<p>No hay productos disponibles.</p>
{{/each}}